flow.json
[
    {
        "id": "main.flow",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "test.flow",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eacbb9ef.69d5c8",
        "type": "EventListener",
        "z": "main.flow",
        "name": "GET /test",
        "provider": "aws",
        "eventSource": "api",
        "dynamodbOperation": "",
        "apiMethod": "get",
        "apiUrl": "/test",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "",
        "reference": "",
        "queueName": "",
        "topicName": "",
        "partnerDetailType": "",
        "websocketCustom": "",
        "s3BucketName": "",
        "s3Prefix": "",
        "s3Suffix": "",
        "kapiUrl": "",
        "kcronexpression": "",
        "kreference": "",
        "kObjectStoreName": "",
        "zapiUrl": "",
        "napiUrl": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "b5fc6ccd.17dd7",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "responseType": "http",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"output\": \"test\"}",
        "eventPayload": "",
        "eventType": "success",
        "x": 242.5,
        "y": 160,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "e0721cc7.653eb",
        "type": "TestCaseEnd",
        "z": "test.flow",
        "name": "TestCase End",
        "x": 357.5,
        "y": 72.5,
        "wires": [],
        "caname": "test-case-end",
        "category": "testing"
    },
    {
        "id": "e8fb91dc.46c24",
        "type": "HTTPTestCase",
        "z": "test.flow",
        "name": "TestCase HelloWorld",
        "method": "GET",
        "path": "/test",
        "headers": {
            "Accept": "application/json"
        },
        "authtype": "none",
        "secUser": "",
        "secPassword": "",
        "secToken": "",
        "payload": "",
        "mocks": [],
        "x": 72.5,
        "y": 72.5,
        "wires": [
            [
                "9b5bda2f.a1afa8"
            ]
        ],
        "caname": "http-test-case",
        "category": "testing"
    },
    {
        "id": "9b5bda2f.a1afa8",
        "type": "Assertion",
        "z": "test.flow",
        "name": "Check Status",
        "selector": "statusCode",
        "property": "",
        "comparison": "equals",
        "value": "200",
        "x": 167.5,
        "y": 72.5,
        "wires": [
            [
                "e0721cc7.653eb"
            ]
        ],
        "caname": "test-assertion",
        "category": "testing"
    }
]